###############################################################################
# Institutional Quant Platform
# EditorConfig
###############################################################################

root = true

###############################################################################
# Default
###############################################################################

[*]

charset = utf-8

end_of_line = lf

insert_final_newline = true

trim_trailing_whitespace = true

indent_style = space

indent_size = 4

max_line_length = 88

###############################################################################
# Python
###############################################################################

[*.py]

indent_style = space

indent_size = 4

max_line_length = 88

###############################################################################
# YAML
###############################################################################

[*.{yml,yaml}]

indent_style = space

indent_size = 2

###############################################################################
# JSON
###############################################################################

[*.json]

indent_style = space

indent_size = 2

###############################################################################
# TOML
###############################################################################

[*.toml]

indent_style = space

indent_size = 2

###############################################################################
# Markdown
###############################################################################

[*.md]

trim_trailing_whitespace = false

max_line_length = off

###############################################################################
# Docker
###############################################################################

[Dockerfile*]

indent_style = space

indent_size = 4

###############################################################################
# Shell
###############################################################################

[*.sh]

indent_style = space

indent_size = 4

###############################################################################
# Terraform
###############################################################################

[*.tf]

indent_style = space

indent_size = 2

###############################################################################
# Helm
###############################################################################

[*.tpl]

indent_style = space

indent_size = 2

###############################################################################
# Kubernetes
###############################################################################

[*.{conf,cfg}]

indent_style = space

indent_size = 2

###############################################################################
# GitHub Workflows
###############################################################################

[.github/workflows/*.{yml,yaml}]

indent_style = space

indent_size = 2

###############################################################################
# Makefiles
###############################################################################

[{Makefile,makefile,GNUmakefile}]

indent_style = tab

###############################################################################
# Windows Batch
###############################################################################

[*.{bat,cmd}]

end_of_line = crlf

###############################################################################
# PowerShell
###############################################################################

[*.ps1]

end_of_line = crlf

indent_style = space

indent_size = 4

###############################################################################
# XML
###############################################################################

[*.xml]

indent_style = space

indent_size = 2

###############################################################################
# HTML
###############################################################################

[*.html]

indent_style = space

indent_size = 2

###############################################################################
# CSS
###############################################################################

[*.css]

indent_style = space

indent_size = 2

###############################################################################
# JavaScript
###############################################################################

[*.js]

indent_style = space

indent_size = 2

###############################################################################
# TypeScript
###############################################################################

[*.ts]

indent_style = space

indent_size = 2

###############################################################################
# SQL
###############################################################################

[*.sql]

indent_style = space

indent_size = 4

###############################################################################
# CSV
###############################################################################

[*.csv]

insert_final_newline = true

trim_trailing_whitespace = false