__pycache__/
*.pyc
.venv/
.env

mlruns/
logs/
data/database/

*.db
*.sqlite

.vscode/
.idea/

# Logs
logs/**/*.log
logs/platform.log
logs/platform_error.log

# Keep directory structure
!logs/**/.gitkeep